@using TpGrupal.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quién es Quién? </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Styles/Menu_desplegable.css" rel="stylesheet" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="acorh">
                    <li>
                        <a href="#">Menu</a>
                        <ul>
                            @{
                                if (BD.VerSesion() > 0)
                                {
                                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>

                                    if (BD.VerSiEsAdmin())
                                    {
                                        <li><a href="@Url.Action("ABMs", "Home")">ABMs</a></li>
                                    }
                                    <li><a href="@Url.Action("MyAccount", "Menu")">Mi cuenta</a></li>
                                    <li><a href="@Url.Action("Instrucciones", "Home")">Instrucciones</a></li>
                                    <li><a href="@Url.Action("Logout", "Login")">Log out</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><a href="@Url.Action("Index", "Login")">Iniciar sesión</a></li>
                                    <li><a href="@Url.Action("Registrarse", "Login")">Registrarse</a></li>
                                    <li><a href="@Url.Action("Instrucciones", "Home")">Instrucciones</a></li>

                                }
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()


        <footer>
            <hr />
            2018 - Juan De Luca - Nicolás Garnica - Matías Gabay - María Belén Fontana
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
