@using TpGrupal.Models
@model Usuarios
@{
    ViewBag.Title = "Index";
}
<h2>Login</h2>
<form method="post" action="@Url.Action("Verificar", "Login")">
    @ViewBag.Alerta
    Mail: @Html.TextBoxFor(x => x.Mail, new { type = "email" }) @Html.ValidationMessageFor(x => x.Nombre) <br />
    Contraseña: @Html.PasswordFor(x => x.Contraseña, new { Type = "password" }) @Html.ValidationMessageFor(x=>x.Contraseña) <br />
    <input type="submit" value="Login" /> <br />
</form>