@using TpGrupal.Models
@model Usuarios
@{
                /**/

                ViewBag.Title = "Index";
}
<h2>Login</h2>
<<<<<<< HEAD
<link href="~/Styles/Home.css" rel="stylesheet" />
<body>
    <form method="post" action="@Url.Action("Verificar", "Login")">
        <h2> @ViewBag.Alerta </h2>
        Mail:<br />  @Html.TextBoxFor(x => x.Mail, new { type = "email" }) @Html.ValidationMessageFor(x => x.Nombre) <br />
        <br />  Contraseña:<br />  @Html.PasswordFor(x => x.Contraseña, new { Type = "password" }) @Html.ValidationMessageFor(x => x.Contraseña) <br />
        <br />  <input type="submit" value="Login" class="button" /> <br />
    </form>
</body>
=======
@using (Html.BeginForm("Verificar", "Login", FormMethod.Post))
{
    <h3 style = "color:red" > @ViewBag.Alerta</h3>
    <h3>Mail:</h3> @Html.TextBoxFor(x => x.Mail, new { type = "email" }) <div style="color:red">@Html.ValidationMessageFor(x => x.Mail) </div><br />
    <h3>Contraseña: </h3>@Html.PasswordFor(x => x.Contraseña, new { Type = "password" }) <div style="color:red"> @Html.ValidationMessageFor(x => x.Contraseña) </div> <br />
    <input type="submit" value="Login" /> <br />
    }
>>>>>>> c0d68cbfab7a2786bf74c9c75f45e43f434f2d64
