@using TpGrupal.Models
@model Usuarios
@{
                /**/

                ViewBag.Title = "Index";
}
<h2>Login</h2>
<link href="~/Styles/Home.css" rel="stylesheet" />

@using (Html.BeginForm("Verificar", "Login", FormMethod.Post))
{
    <h3 style = "color:red" > @ViewBag.Alerta</h3>
    <h3>Mail:</h3> @Html.TextBoxFor(x => x.Mail, new { type = "email" }) <div style="color:red">@Html.ValidationMessageFor(x => x.Mail) </div><br />
    <h3>Contraseña: </h3>@Html.PasswordFor(x => x.Contraseña, new { Type = "password" }) <div style="color:red"> @Html.ValidationMessageFor(x => x.Contraseña) </div> <br />
    <input type="submit" value="Login" /> <br />
    }