@using TpGrupal.Models
@model Usuarios
@{
                /**/

                ViewBag.Title = "Index";
}
<h2>Login</h2>
@using (Html.BeginForm("Verificar", "Login", FormMethod.Post))
{
    @ViewBag.Alerta
    <h3>Mail:</h3> @Html.TextBoxFor(x => x.Mail, new { type = "email" }) @Html.ValidationMessageFor(x => x.Nombre) <br />
    <h3>Contraseña: </h3>@Html.PasswordFor(x => x.Contraseña, new { Type = "password" }) @Html.ValidationMessageFor(x => x.Contraseña) <br />
    <input type="submit" value="Login" /> <br />
}