@using TpGrupal.Models
@model Usuarios
@{
    ViewBag.Title = "Registrarse";
}
<h2>Registrarse</h2>
<link href="~/Styles/Home.css" rel="stylesheet" />

<form method="post" action="@Url.Action("Index", "Login")">
    <br />  Nombre<br />  @Html.TextBoxFor(x => x.Nombre) @Html.ValidationMessageFor(x => x.Nombre) <br />
    <br />  Contraseña<br />  @Html.PasswordFor(x => x.Contraseña) @Html.ValidationMessageFor(x => x.Contraseña) <br />
    <br /> Mail<br />  @Html.TextBoxFor(x => x.Mail) @Html.ValidationMessageFor(x => x.Mail) <br />
    <br />  <input type="submit" value="Registrarse" /> <br />
</form>
