@using TpGrupal.Models
@model Usuarios
@{
                /**/

                ViewBag.Title = "Registrarse";
}
<h2>Registrarse</h2>
@using (Html.BeginForm("VerificarRegistro", "Login", FormMethod.Post))
{
    @ViewBag.Alerta
    <h3>Nombre:</h3> @Html.TextBoxFor(x => x.Nombre) @Html.ValidationMessageFor(x => x.Nombre) <br />
    <h3>Mail:</h3> @Html.TextBoxFor(x => x.Mail, new { type = "email" }) @Html.ValidationMessageFor(x => x.Nombre) <br />
    <h3>Contraseña:</h3> @Html.PasswordFor(x => x.Contraseña, new { Type = "password" }) @Html.ValidationMessageFor(x => x.Contraseña) <br />
    <input type="submit" value="Registrarse" /> <br />
}